@import "../../styles/colors.scss";
.experiments {
  display: flex;
}

.experiments__panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 4rem;
  height: 100%;
  // box-shadow: 5px 5px 5px 5px lighten($color: $primary-theme-color, $amount: 50);
  background-color: lighten($color: $primary-theme-color, $amount: 50);
}

.experiments__panel__new {
  display: flex;
  width: 3.5rem;
  height: 0.4rem;
  margin-top: 0.2rem;

  input {
    width: 2.8rem;
    margin-right: 0.2rem;
    padding: 0 0.1rem;
    box-sizing: border-box;
  }

  button {
    width: 0.5rem;
    height: 0.4rem;
    padding: 0;
    background-color: $secondary-theme-color;
    color: $primary-button-text-color;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      background-color: darken($secondary-theme-color, 20);
    }

    &:active {
      background-color: lighten($color: $secondary-theme-color, $amount: 30);
      color: $primary-button-text-color;
    }
  }
}

.experiments__panel__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 0.3rem;
  margin-top: 0.2rem;
  padding: 0 0.1rem;
  box-sizing: border-box;

  border-radius: 0.2rem;
  border: 1px solid $search-background-color;
  background-color: $search-background-color;
  font-size: 1.3em;

  input {
    flex: 1;
    background-color: transparent;
    border: none;
  }

  .iconfont {
    margin-right: 0.2rem;
    color: darken($color: $search-background-color, $amount: 20);
  }
}

.experiments__panel__folders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0.2rem;
  padding-bottom: 0.2rem;
  height: calc(100% - 1rem);
  box-sizing: border-box;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 0.2rem;
    box-sizing: border-box;
    border-bottom: 1px solid lighten($color: #000000, $amount: 90);
    color: $header-text-color;
    font-size: 1em;
  }

  &__list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-bottom: 0.2rem;

    &__item {
      z-index: 999;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 0.5rem;
      padding: 0 0.2rem;
      box-sizing: border-box;
      font-size: 1.2em;

      &:hover {
        cursor: pointer;
        background-color: lighten($color: $primary-theme-color, $amount: 50);
        font-weight: bold;
        // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
      }

      &.selected {
        background-color: white;
        // background-color: lighten($color: $primary-theme-color, $amount: 50);
        font-weight: bold;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
      }

      &__name {
        display: flex;
        justify-content: flex-start;
        overflow-x: hidden;
        max-width: 75%;
        white-space: nowrap;

        .iconfont {
          margin-right: 0.2rem;
          font-size: 1.3em;
        }
      }

      &__date {
        color: $header-text-color;
        font-size: 0.9em;
      }
    }
  }
}

.experiments__experiment {
  // display: grid;
  // place-items: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 6rem);
  height: 100%;
  background-color: lighten($color: $primary-theme-color, $amount: 50);

  &__board {
    width: 99%;
    height: 98%;
    background-color: white;
    border-radius: 0.1rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  }
}

.experiments__experiment__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 1.6rem;
  padding: 0.1rem 0.2rem;
  box-sizing: border-box;
}

.experiments__experiment__header__info {
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 7rem;
  height: 1.3rem;
  box-sizing: border-box;

  &__name {
    font-size: 2em;
    text-align: left;
    text-wrap: nowrap;
    border-bottom: 1px solid lighten($color: #000000, $amount: 90);

    .iconfont {
      margin-right: 0.05rem;
      font-size: 0.7em;
      color: lighten($color: #000000, $amount: 35);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0.05rem;
    height: 1rem;
    color: lighten($color: #000000, $amount: 35);

    p {
      text-align: left;
    }
  }

  &__delete {
    button {
      width: 0.9rem;
      height: 0.4rem;
      margin-top: 0.1rem;
      background-color: $alert-background-color;
      color: $primary-button-text-color;
      font-size: 1.2em;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        background-color: darken($alert-background-color, 20);
      }

      &:active {
        background-color: lighten($color: $alert-background-color, $amount: 30);
        color: $primary-button-text-color;
      }
    }
  }
}

.experiments__experiment__links {
  display: flex;
  align-items: center;
  width: 100%;
  height: 0.4rem;
  padding-left: 0.2rem;

  &__link {
    margin-right: 0.4rem;
    font-size: 1.4em;
    color: $primary-text-color;

    &:hover {
      cursor: pointer;
      color: $primary-theme-color;
    }
  }

  .selected {
    color: $primary-theme-color;
    border-bottom: 3px solid $primary-theme-color;
  }
}

.experiments__experiment__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - 2rem);
  box-sizing: border-box;
}
