@import "../../../styles/colors.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sidebar__datablock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: brown;
  margin-bottom: 2rem;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
}

.sidebar__files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  button {
    margin: 0.05rem;
    width: 1rem;
    height: 0.4rem;
    background-color: $primary-theme-color;
    color: white;
    font-size: 1.2em;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      border: none;
      background-color: lighten($color: $primary-theme-color, $amount: 20);
    }
    &:active {
      background-color: darken($color: $primary-theme-color, $amount: 20);
      border: 2px inset darken($color: $primary-theme-color, $amount: 20);
    }
  }
}

.sidebar__execution {
  margin: 0.4rem 0rem;
  button {
    width: 1rem;
    height: 1rem;
    border: 5px double white;
    border-radius: 50%;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
  }
}
