@import "../../../styles/colors.scss";

.sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-left: 4px solid $primary-theme-color;
  overflow-y: auto;
}

@mixin select-style($color, $background, $border-color) {
  color: $color;
  background-color: $background;
  border: 1px solid $border-color;
  // Other styles you want to include in the mixin
}

.select-bar {
  position: absolute;
  width: 100%;
  select{
      @include select-style($primary-background-color, $secondary-theme-color, $primary-theme-color);
  }
}
