$primary-background-color: #ffffff;
$primary-theme-color: #3d97b0aa;

$secondary-theme-color: #3d77b0aa;

$primary-text-color: #000000;
$primary-button-text-color: #ffffff;
$header-text-color: #a5a5a5af;

$header-color: #e9e9e965;
$header-text-color: #aeaeae;

$panel-color: #e9e9e965;
$board-color: #ffffff;

$search-background-color: #e9e9e9;
