$primary-background-color: #ffffff;
$primary-theme-color: #54637a;
$secondary-theme-color: #479fb8;

$primary-lighten-color: #eef0f3;

// $primary-theme-color: #84bccf;
// $secondary-theme-color: #7ba3ca;

$primary-text-color: #000000;
$primary-button-text-color: #ffffff;

$panel-color: #e9e9e965;
$board-color: #ffffff;
$header-text-color: #b9b8b8;

$search-background-color: #e9e9e9;

$alert-background-color: #c97e7e;
$cancel-background-color: #adadad;
