$primary-background-color: #ffffff;
$primary-theme-color: #3d97b0aa;

$primary-text-color: #000000;

$header-color: lighten(#000000, 95%);
$header-text-color: #000000;

$panel-color: lighten(#000000, 95%);
$board-color: #ffffff;