@import 'colors.scss';

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 100px;

  color: $primary-text-color;
  background-color: $primary-background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 0.12em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $primary-theme-color;
  cursor: pointer;
  transition: border-color 0.25s;

  &:active {
    outline: none;
  }
}
button:hover {
  border: none;
}
button:focus {
  outline: none;
}
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'iconfont'; /* Project id 4372157 */
  src: url('//at.alicdn.com/t/c/font_4372157_ko5jq9vohu9.woff2?t=1712176048436')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_4372157_ko5jq9vohu9.woff?t=1712176048436')
      format('woff'),
    url('//at.alicdn.com/t/c/font_4372157_ko5jq9vohu9.ttf?t=1712176048436')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
