@import '../../styles/colors.scss';

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.account__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
  width: 100%;
  height: 20vh;
  //   border-bottom: 2px solid $primary-theme-color;

  &__title {
    font-size: 5em;
    font-weight: 700;
    color: $secondary-theme-color;
  }
}

.account__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  border-bottom: 2px solid $primary-theme-color;
}

.account__content__tabs {
  width: 100%;
  height: 0.4rem;
  margin-bottom: 0.2rem;
  border-bottom: 2px solid $primary-theme-color;

  button {
    width: 50%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0%;
    font-size: 1.2em;
    font-weight: 600;
    color: $secondary-theme-color;

    &:hover {
      cursor: pointer;
      background-color: lighten($secondary-theme-color, 40%);
      color: $secondary-theme-color;
    }

    &.selected {
      background-color: $primary-theme-color;
      color: $primary-button-text-color;
    }
  }
}

.account__content__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login__form {
  width: 100%;
  padding: 0 0.15rem;
  box-sizing: border-box;
}

.login__form__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.15rem;

  color: darken($primary-theme-color, 10%);
  font-size: 1.2em;
  font-weight: 600;
}

.login__submit {
  width: 45%;
  height: 0.4rem;
  margin: 0.25rem 0rem;
  border-radius: 0.2rem;
  background-color: $secondary-theme-color;
  color: $primary-button-text-color;
  font-size: 1.2em;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    background-color: darken($secondary-theme-color, 20%);
  }
  &:active {
    background-color: lighten($secondary-theme-color, 20%);
  }
}
