.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.header__logo {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  img {
    width: 100%;
    height: auto;
  }
}

.header__name {
  font-size: 1.6em;
  font-weight: 600;
}
