@import '../../../styles/colors.scss';

.header {
  position: relative;

  width: 100%;
  height: 100%;
}

.header__left {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 100%;

  &__back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1.5rem;
    height: 0.4rem;
    border-radius: 0.05rem;
    background-color: $primary-theme-color;
    color: $secondary-theme-color;
    font-size: 1.2em;
    font-weight: 800;

    .iconfont {
      font-size: 1.4em;
    }

    &__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 0.15rem;
      background-color: $secondary-theme-color;
      color: $primary-button-text-color;

      &:hover {
        cursor: pointer;
        background-color: $primary-button-text-color;
        color: $secondary-theme-color;
      }

      &:active {
        background-color: darken($color: $secondary-theme-color, $amount: 20);
      }
    }
  }
}

.header__middle {
  position: absolute;
  // in the middle of the header
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  min-width: 3rem;
  height: 100%;
}

.header__right {
  position: absolute;
  top: 0;
  right: 0;

  width: 3rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__files {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    margin-right: 0.2rem;

    button {
      margin: 0.05rem;
      width: 0.85rem;
      height: 0.32rem;
      background-color: $secondary-theme-color;
      border-radius: 0.05rem;
      color: white;
      font-size: 1.1em;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        border: none;
        background-color: $primary-button-text-color;
        color: $secondary-theme-color;
      }
      &:active {
        background-color: darken($color: $secondary-theme-color, $amount: 20);
        border: 2px inset darken($color: $secondary-theme-color, $amount: 20);
      }
    }
  }

  &__execution {
    width: 0.36rem;
    height: 0.36rem;
    margin-right: 0.4rem;

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 0.36rem;
      height: 0.36rem;
      border-radius: 0.18rem;
      background-color: $secondary-theme-color;

      .iconfont {
        font-size: 2.5em;
        color: $primary-button-text-color;
      }

      &:hover {
        cursor: pointer;
        background-color: $primary-button-text-color;
        .iconfont {
          color: $secondary-theme-color;
        }
      }

      &:active {
        background-color: darken($color: $secondary-theme-color, $amount: 20);
      }
    }
  }
}
