@import '../../../../../styles/colors.scss';

.transparent-input {
  border: none;
  background-color: transparent;
  width: 100%;
  &:focus {
    outline: 1px dashed $secondary-theme-color;
  }
}

.table-component {
  // position: absolute;
  width: 90%;
  margin-top: 0.5rem;
  .header-text{
    color: $primary-theme-color;
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    padding-bottom: 0.13rem;
    
  }
  .header-row {
    font-weight: bold;
}
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      &:nth-child(even) { // targeting odd rows
        background-color: $panel-color; // light gray for odd rows
      }
      &:nth-child(odd) { // targeting even rows
        background-color: $board-color; // white for even rows
      }
    }
    .cell{
      padding: 0.05rem 0.05rem;
      flex:1;
      font-size: 12px;
    }
  }
  

  .delete-param{
    cursor: pointer;
    color: $secondary-theme-color;
  
    &:hover {
      color: $alert-background-color;
    }
  }