.editor {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.editor__top {
  width: 100%;
  height: 0.5rem;
  background-color: #54637a;
  box-sizing: border-box;
}

.editor__bottom {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100% - 0.5rem);
}

.editor__bottom__left {
  width: 2.2rem;
  height: 100%;
  background-color: #eef0f3;
  box-sizing: border-box;
  border-right: 1px solid #eef0f3;
}

.editor__bottom__middle {
  position: relative;
  width: calc(100% - 2.2rem);
  height: 100%;
  background-color: #ffffff;
}
.editor__bottom__middle__nav {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: start;
  top: 0;
  left: 0;
  margin-left: 0.5rem;
  max-width: calc(50% - 0.5rem);
  height: 0.3rem;
  box-sizing: border-box;
}
.editor__bottom__middle__nav__tab {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0.8rem;
  height: 0.3rem;
  margin-right: 0.02rem;
  padding: 0 0.02rem;
  background-color: #4fa3bb;
  border-radius: 0 0 0.08rem 0.08rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-weight: bold;
  white-space: nowrap;
}
.editor__bottom__middle__nav__tab__close {
  z-index: 1;
  position: absolute;
  top: -0.01rem;
  right: 0;
  width: 0.18rem;
  height: 0.18rem;
  border-radius: 0.09rem;
  background-color: #ffffff;
  color: #4fa3bb;
}
.editor__bottom__middle__nav__tab__close:hover {
  cursor: pointer;
  background-color: #c97e7e;
  color: #ffffff;
}
.editor__bottom__middle__nav__tab__close:active {
  background-color: #ffffff;
  color: #4fa3bb;
}
.editor__bottom__middle__nav__tab__name:hover {
  cursor: pointer;
  font-size: 1.1em;
}
.editor__bottom__middle__nav__tab__name:active {
  font-size: 1.1em;
}
.editor__bottom__middle__nav .selected {
  box-shadow: none;
  background-color: #54637a;
  color: #ffffff;
}
.editor__bottom__middle__board {
  width: 100%;
  height: 100%;
}
.editor__bottom__middle__board__main {
  width: 100%;
  height: 100%;
}
.editor__bottom__middle__board__sub {
  width: 100%;
  height: 100%;
}

.popover__save {
  width: 3rem;
  height: 1.5rem;
}
.popover__save__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 0.55rem;
  color: #54637a;
  font-size: 1.2em;
}
.popover__save input {
  width: 80%;
  height: 0.3rem;
  margin-bottom: 0.3rem;
  box-sizing: border-box;
}
.popover__save input:focus {
  outline: none;
}
.popover__save__buttons {
  width: 3rem;
  height: 0.35rem;
  font-size: 1.2em;
  font-weight: bold;
}
.popover__save__buttons__cancel {
  width: 50%;
  height: 100%;
  border-radius: 0 0 0 0.05rem;
  background-color: #adadad;
  color: #ffffff;
}
.popover__save__buttons__cancel:hover {
  cursor: pointer;
  background-color: #7a7a7a;
}
.popover__save__buttons__cancel:active {
  background-color: #fafafa;
  color: #ffffff;
}
.popover__save__buttons__confirm {
  width: 50%;
  height: 100%;
  border-radius: 0 0 0.05rem 0;
  color: #ffffff;
  background-color: #4fa3bb;
}
.popover__save__buttons__confirm:hover {
  cursor: pointer;
  background-color: #2e6676;
}
.popover__save__buttons__confirm:active {
  background-color: #bddde6;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */