@import '../../styles/colors.scss';

.editor {
  // prevent scrolling
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.editor__top {
  width: 100%;
  height: 0.5rem;
  background-color: $primary-theme-color;
  box-sizing: border-box;
}

.editor__bottom {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100% - 0.5rem);
}

.editor__bottom__left {
  width: 2.2rem;
  height: 100%;
  background-color: $primary-lighten-color;
  box-sizing: border-box;
  border-right: 1px solid $primary-lighten-color;
}

.editor__bottom__middle {
  position: relative;
  width: calc(100% - 2.2rem);
  height: 100%;
  background-color: $board-color;

  &__nav {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: start;
    top: 0;
    left: 0;
    margin-left: 0.5rem;
    max-width: calc(50% - 0.5rem);
    height: 0.3rem;

    box-sizing: border-box;

    &__tab {
      position: relative;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 0.8rem;
      height: 0.3rem;

      margin-right: 0.02rem;
      padding: 0 0.02rem;
      background-color: $secondary-theme-color;
      border-radius: 0 0 0.08rem 0.08rem;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

      color: $primary-button-text-color;
      font-weight: bold;
      white-space: nowrap;

      &__close {
        z-index: 1;
        position: absolute;
        top: -0.01rem;
        right: 0;
        width: 0.18rem;
        height: 0.18rem;
        border-radius: 0.09rem;
        background-color: $primary-button-text-color;
        color: $secondary-theme-color;

        &:hover {
          cursor: pointer;
          background-color: $alert-background-color;
          color: $primary-button-text-color;
        }

        &:active {
          background-color: $primary-button-text-color;
          color: $secondary-theme-color;
        }
      }

      &__name {
        &:hover {
          cursor: pointer;
          font-size: 1.1em;
        }

        &:active {
          font-size: 1.1em;
        }
      }
    }

    .selected {
      box-shadow: none;
      background-color: $primary-theme-color;
      color: $primary-button-text-color;
    }
  }

  &__board {
    width: 100%;
    height: 100%;
    &__main {
      width: 100%;
      height: 100%;
    }

    &__sub {
      width: 100%;
      height: 100%;
    }
  }
}

// .editor__bottom__right {
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 6.8rem;
//   height: 100%;
//   z-index: 2;
//   background-color: $board-color;
//   box-sizing: border-box;
//   border-left: 1px solid darken($color: $panel-color, $amount: 10);
// }

.popover__save {
  width: 3rem;
  height: 1.5rem;

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 0.55rem;
    color: $primary-theme-color;
    font-size: 1.2em;
  }

  input {
    width: 80%;
    height: 0.3rem;
    margin-bottom: 0.3rem;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  &__buttons {
    width: 3rem;
    height: 0.35rem;
    font-size: 1.2em;
    font-weight: bold;

    &__cancel {
      width: 50%;
      height: 100%;
      border-radius: 0 0 0 0.05rem;
      background-color: $cancel-background-color;
      color: $primary-button-text-color;

      &:hover {
        cursor: pointer;
        background-color: darken($cancel-background-color, 20);
      }

      &:active {
        background-color: lighten(
          $color: $cancel-background-color,
          $amount: 30
        );
        color: $primary-button-text-color;
      }
    }

    &__confirm {
      width: 50%;
      height: 100%;
      border-radius: 0 0 0.05rem 0;
      color: $primary-button-text-color;
      background-color: $secondary-theme-color;

      &:hover {
        cursor: pointer;
        background-color: darken($secondary-theme-color, 20);
      }

      &:active {
        background-color: lighten($color: $secondary-theme-color, $amount: 30);
        color: $primary-button-text-color;
      }
    }
  }
}
