@import "../../../styles/colors.scss";

$panel-info-height: 2.1rem;

.panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.panel__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $panel-info-height;
  box-sizing: border-box;

  &__window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    background-color: white;
    border: {
      left: 1px solid darken($color: $panel-color, $amount: 30);
      top: 1px solid darken($color: $panel-color, $amount: 30);
      right: 2px solid lighten($color: $panel-color, $amount: 30);
      bottom: 2px solid lighten($color: $panel-color, $amount: 30);
    }

    &__notation {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 0.7rem;
    }

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 0.3rem;
      font-weight: 600;
    }
  }

  &__description {
    width: 100%;
    height: 0.8rem;
    padding: 0 0.1rem;
    box-sizing: border-box;
    border-top: 1px solid darken($color: $panel-color, $amount: 30);
    overflow-y: auto;
    text-align: left;

    color: lighten($primary-text-color, 30);
    font-size: 0.9em;
  }
}

.panel__nodes {
  max-height: calc((100% - $panel-info-height) * (3 / 5));
  border-top: 2px groove darken($color: $panel-color, $amount: 30);
}

.panel__links {
  max-height: calc((100% - $panel-info-height) * (1 / 3));
}

.panel__nodes,
.panel__links {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px groove darken($color: $panel-color, $amount: 30);
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    &__name {
      width: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid darken($color: $panel-color, $amount: 30);
      font-weight: 600;
    }
    &__tutorial {
      width: 100%;
      padding: 0 0.1rem;
      box-sizing: border-box;
      text-align: left;
      font-size: 0.9em;
      color: lighten($primary-text-color, 30);
      border-bottom: 1px solid darken($color: $panel-color, $amount: 30);
      background-color: lighten($color: $panel-color, $amount: 20);
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.panel__nodes__content {
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 0.1rem;
  box-sizing: border-box;

  &__node {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.45rem;
    height: 0.45rem;
    padding: 0.05rem;
    box-sizing: border-box;

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }

    &:hover {
      cursor: pointer;
      background-color: darken($color: $panel-color, $amount: 20);
      border-radius: 0.08rem;
    }
  }
}

.panel__links__content {
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.1rem 0.1rem 0rem 0.1rem;
  box-sizing: border-box;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0.4rem;
    margin-bottom: 0.08rem;
    box-sizing: border-box;
    border: 1px solid darken($color: $panel-color, $amount: 30);
    border-radius: 0.08rem;
    font-size: 1.2em;

    &:hover {
      cursor: pointer;
      background-color: darken($color: $panel-color, $amount: 20);
      border-radius: 0.08rem;
    }

    &.selected {
      background-color: $primary-theme-color;
      border: none;
      color: white;
      font-size: 1.3em;
      font-weight: 600;
    }
  }
}

.panel__back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.2rem;

  button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1.5rem;
    height: 0.4rem;
    border-radius: 0.05rem;
    background-color: $secondary-theme-color;
    color: $primary-button-text-color;
    font-size: 1.2em;
    font-weight: 800;

    .iconfont {
      font-size: 1.4em;
    }

    &:hover {
      cursor: pointer;
      background-color: lighten($color: $secondary-theme-color, $amount: 20);
    }

    &:active {
      background-color: darken($color: $secondary-theme-color, $amount: 20);
    }
  }
}
