.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.panel__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.1rem;
  box-sizing: border-box;
}
.panel__info__window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  background-color: white;
  border-left: 1px solid rgba(157, 157, 157, 0.3960784314);
  border-top: 1px solid rgba(157, 157, 157, 0.3960784314);
  border-right: 2px solid rgba(255, 255, 255, 0.3960784314);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3960784314);
}
.panel__info__window__notation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 0.7rem;
}
.panel__info__window__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 0.3rem;
  font-weight: 600;
}
.panel__info__description {
  overflow-y: auto;
  width: 100%;
  height: 0.7rem;
  padding: 0 0.1rem;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: left;
  color: #4d4d4d;
  font-size: 0.9em;
}
.panel__info__description__usage {
  padding-top: 0.05rem;
}

.panel__nodes {
  height: 2.1rem;
}

.panel__links {
  height: 0.65rem;
  margin-top: 0.1rem;
}

.panel__nodes,
.panel__links,
.panel__subtasks {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.panel__nodes__title,
.panel__links__title,
.panel__subtasks__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.panel__nodes__title__name,
.panel__links__title__name,
.panel__subtasks__title__name {
  width: 100%;
  height: 0.25rem;
  line-height: 0.25rem;
  box-sizing: border-box;
  background-color: #54637a;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid rgba(157, 157, 157, 0.3960784314);
  font-weight: 600;
}
.panel__nodes__title__tutorial,
.panel__links__title__tutorial,
.panel__subtasks__title__tutorial {
  width: 100%;
  padding: 0.05rem 0.1rem;
  box-sizing: border-box;
  text-align: left;
  font-size: 0.9em;
  color: #4d4d4d;
  border-bottom: 1px solid rgba(157, 157, 157, 0.3960784314);
}
.panel__nodes__content,
.panel__links__content,
.panel__subtasks__content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.panel__nodes__content {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 0.1rem;
  box-sizing: border-box;
  border-left: 1px solid rgba(157, 157, 157, 0.3960784314);
  border-top: 1px solid rgba(157, 157, 157, 0.3960784314);
  border-right: 2px solid rgba(255, 255, 255, 0.3960784314);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3960784314);
}
.panel__nodes__content__node {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.45rem;
  height: 0.45rem;
  padding: 0.05rem;
  box-sizing: border-box;
}
.panel__nodes__content__node img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.panel__nodes__content__node:hover {
  cursor: pointer;
  background-color: rgba(182, 182, 182, 0.3960784314);
  border-radius: 0.08rem;
}

.panel__links__window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0.4rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border-left: 1px solid rgba(157, 157, 157, 0.3960784314);
  border-top: 1px solid rgba(157, 157, 157, 0.3960784314);
  border-right: 2px solid rgba(255, 255, 255, 0.3960784314);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3960784314);
}

.panel__links__content {
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2.2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.1rem 0.1rem 0rem 0.1rem;
  box-sizing: border-box;
}
.panel__links__content__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.35rem;
  height: 0.35rem;
  margin-bottom: 0.08rem;
  box-sizing: border-box;
  border: 1px solid #4fa3bb;
  border-radius: 0.08rem;
  color: #4fa3bb;
  font-size: 1.2em;
  font-weight: 600;
}
.panel__links__content__link:hover {
  cursor: pointer;
  background-color: #99c9d7;
  border-radius: 0.08rem;
}
.panel__links__content__link.selected {
  background-color: #54637a;
  border: none;
  color: white;
  font-size: 1.3em;
}

.panel__subtasks {
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}
.panel__subtasks .iconfont {
  font-size: 1.2em;
  padding-left: 0.1rem;
  margin-right: 0.15rem;
}
.panel__subtasks__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 233, 233, 0.3960784314);
}
.panel__subtasks__content__generic__task {
  display: flex;
  align-items: center;
  height: 0.25rem;
  background-color: #ffffff;
  color: #4fa3bb;
}
.panel__subtasks__content__generic__task:hover {
  cursor: pointer;
  color: #3c869b;
  font-size: 1.1em;
}
.panel__subtasks__content__predefined {
  max-height: calc(100vh - 6.4rem);
}

.panel__subtasks__content__categories__category__title {
  width: 100%;
  height: 0.25rem;
  margin: 0.01rem 0;
  padding-left: 0.15rem;
  background-color: rgba(233, 233, 233, 0.3960784314);
  box-sizing: border-box;
  color: #54637a;
  line-height: 0.25rem;
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
}
.panel__subtasks__content__categories__category__tasks__task {
  display: flex;
  align-items: center;
  margin: 0.01rem 0;
  height: 0.25rem;
  background-color: #ffffff;
  color: #4fa3bb;
}
.panel__subtasks__content__categories__category__tasks__task:hover {
  cursor: pointer;
  color: #3c869b;
  font-size: 1.1em;
}/*# sourceMappingURL=style.css.map */