@import '../../../styles/colors.scss';

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.panel__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.1rem;
  box-sizing: border-box;

  &__window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    background-color: white;
    border: {
      left: 1px solid darken($color: $panel-color, $amount: 30);
      top: 1px solid darken($color: $panel-color, $amount: 30);
      right: 2px solid lighten($color: $panel-color, $amount: 30);
      bottom: 2px solid lighten($color: $panel-color, $amount: 30);
    }

    &__notation {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 0.7rem;
    }

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 0.3rem;
      font-weight: 600;
    }
  }

  &__description {
    overflow-y: auto;
    width: 100%;
    height: 0.7rem;
    padding: 0 0.1rem;
    box-sizing: border-box;
    // border-top: 1px solid darken($color: $panel-color, $amount: 30);
    overflow-y: auto;
    text-align: left;

    color: lighten($primary-text-color, 30);
    font-size: 0.9em;

    &__usage {
      padding-top: 0.05rem;
    }
  }
}

.panel__nodes {
  height: 2.1rem;
  // border-top: 2px groove darken($color: $panel-color, $amount: 30);
}

.panel__links {
  height: 0.65rem;
  margin-top: 0.1rem;
}

.panel__nodes,
.panel__links,
.panel__subtasks {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    &__name {
      width: 100%;
      height: 0.25rem;
      line-height: 0.25rem;
      box-sizing: border-box;
      background-color: $primary-theme-color;
      color: $primary-button-text-color;
      font-size: 1.2em;
      font-weight: bold;
      border-bottom: 1px solid darken($color: $panel-color, $amount: 30);
      font-weight: 600;
    }
    &__tutorial {
      width: 100%;
      padding: 0.05rem 0.1rem;
      box-sizing: border-box;
      text-align: left;
      font-size: 0.9em;
      color: lighten($primary-text-color, 30);
      border-bottom: 1px solid darken($color: $panel-color, $amount: 30);
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.panel__nodes__content {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 0.1rem;
  box-sizing: border-box;
  border: {
    left: 1px solid darken($color: $panel-color, $amount: 30);
    top: 1px solid darken($color: $panel-color, $amount: 30);
    right: 2px solid lighten($color: $panel-color, $amount: 30);
    bottom: 2px solid lighten($color: $panel-color, $amount: 30);
  }

  &__node {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.45rem;
    height: 0.45rem;
    padding: 0.05rem;
    box-sizing: border-box;

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }

    &:hover {
      cursor: pointer;
      background-color: darken($color: $panel-color, $amount: 20);
      border-radius: 0.08rem;
    }
  }
}

.panel__links__window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0.4rem;
  background-color: $primary-background-color;
  box-sizing: border-box;
  border: {
    left: 1px solid darken($color: $panel-color, $amount: 30);
    top: 1px solid darken($color: $panel-color, $amount: 30);
    right: 2px solid lighten($color: $panel-color, $amount: 30);
    bottom: 2px solid lighten($color: $panel-color, $amount: 30);
  }
}

.panel__links__content {
  z-index: 3;

  position: absolute;
  // vertically in the middle of the panel
  top: 50%;
  transform: translateY(-50%);
  left: 2.2rem;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0.1rem 0.1rem 0rem 0.1rem;
  box-sizing: border-box;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.35rem;
    height: 0.35rem;
    margin-bottom: 0.08rem;
    box-sizing: border-box;
    border: 1px solid $secondary-theme-color;
    border-radius: 0.08rem;
    color: $secondary-theme-color;
    font-size: 1.2em;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background-color: lighten($color: $secondary-theme-color, $amount: 20);
      border-radius: 0.08rem;
    }

    &.selected {
      background-color: $primary-theme-color;
      border: none;
      color: white;
      font-size: 1.3em;
    }
  }
}

.panel__subtasks {
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;

  .iconfont {
    font-size: 1.2em;
    padding-left: 0.1rem;
    margin-right: 0.15rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: $panel-color;

    &__generic__task {
      display: flex;
      align-items: center;
      height: 0.25rem;
      background-color: $primary-background-color;
      color: $secondary-theme-color;

      &:hover {
        cursor: pointer;
        color: darken($color: $secondary-theme-color, $amount: 10);
        font-size: 1.1em;
      }
    }
    &__predefined {
      max-height: calc(100vh - 6.4rem);
    }
  }
}

.panel__subtasks__content__categories__category {
  &__title {
    width: 100%;
    height: 0.25rem;
    margin: 0.01rem 0;
    padding-left: 0.15rem;
    background-color: $panel-color;
    box-sizing: border-box;
    color: $primary-theme-color;
    line-height: 0.25rem;
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
  }

  &__tasks__task {
    display: flex;
    align-items: center;
    margin: 0.01rem 0;
    height: 0.25rem;
    background-color: $primary-background-color;
    color: $secondary-theme-color;

    &:hover {
      cursor: pointer;
      color: darken($color: $secondary-theme-color, $amount: 10);
      font-size: 1.1em;
    }
  }
}
