@import '../../../styles/colors.scss';

.specification {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 0 0.2rem;
  box-sizing: border-box;
}

.specification__functions {
  margin-bottom: 0.15rem;
  width: 3.4rem;
  height: 0.35rem;

  button {
    width: 1.6rem;
    height: 0.35rem;

    background-color: $secondary-theme-color;
    color: $primary-button-text-color;
    font-size: 1.15em;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      background-color: darken($secondary-theme-color, 20);
    }

    &:active {
      background-color: lighten($color: $secondary-theme-color, $amount: 30);
      color: $primary-button-text-color;
    }
  }

  &__new {
    margin-right: 0.2rem;
  }
}

.specification__contents {
  width: 100%;
  height: calc(100% - 0.5rem);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 0.2rem;
    border-bottom: 2px solid #e0e0e0;
    color: lighten($color: #000000, $amount: 50);
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;

    &__title {
      width: 45%;
    }

    &__create {
      width: 15%;
    }

    &__update {
      width: 15%;
    }

    &__operations {
      width: 25%;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 0.2rem);
    color: $header-text-color;
    font-size: 2.5em;
    font-weight: bold;
  }

  &__list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 0.2rem);

    &__item {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 0.5rem;
      border-bottom: 1px solid #e0e0e0;
      text-align: left;

      &__title {
        display: flex;
        width: 45%;
        font-weight: bold;
        padding-right: 0.2rem;
        box-sizing: border-box;

        .iconfont {
          margin-right: 0.1rem;
          color: lighten($color: #000000, $amount: 50);
        }

        .editable {
          color: $secondary-theme-color;

          &:hover {
            cursor: pointer;
            color: $alert-background-color;
          }
        }

        input {
          flex: 1;
          border: none;
          border-bottom: 1px solid #888888;
          box-sizing: border-box;
          background-color: transparent;

          &:focus {
            outline: none;
          }
        }
      }

      &__create {
        width: 15%;
        color: lighten($color: #000000, $amount: 50);
      }

      &__update {
        width: 15%;
        color: lighten($color: #000000, $amount: 50);
      }

      &__operations {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 25%;

        .iconfont {
          margin-right: 0.2rem;
          color: lighten($color: #000000, $amount: 50);
        }

        .editable {
          color: $secondary-theme-color;

          &:hover {
            cursor: pointer;
            color: $alert-background-color;
          }
        }

        button {
          width: 0.9rem;
          background-color: $secondary-theme-color;
          color: $primary-button-text-color;
          font-size: 1em;
          font-weight: bold;
        }
      }
    }
  }
}
