@import '../../styles/colors.scss';

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
  width: 100%;
  height: 20vh;
  border-bottom: 2px solid $secondary-theme-color;

  &__title {
    font-size: 5em;
    font-weight: 700;
    color: $secondary-theme-color;
  }
}

.home__start {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 20vh;
  padding-top: 10vh;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $primary-theme-color;
    color: white;
    font-size: 1.5em;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background-color: $primary-theme-color;
      opacity: 0.5;
    }
  }
}
