@import '../../styles/colors.scss';

.dashboard__common__right__header__info {
  &__name {
    .iconfont {
      margin-right: 0.05rem;
      font-size: 0.7em;
      color: $secondary-theme-color;

      &:hover {
        cursor: pointer;
        color: $alert-background-color;
      }
    }

    input {
      flex: 1;
      border: none;
      border-bottom: 1px solid lighten($color: #000000, $amount: 70);
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0.05rem;
    width: 100%;
    height: 1rem;
    color: lighten($color: #000000, $amount: 35);

    p {
      text-align: left;
    }

    textarea {
      width: 98%;
      height: 0.8rem;
      background-color: transparent;
      border: 1px solid lighten($color: #000000, $amount: 70);
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }

  &__delete {
    button {
      width: 0.9rem;
      height: 0.4rem;
      margin-top: 0.1rem;
      background-color: $alert-background-color;
      color: $primary-button-text-color;
      font-size: 1.2em;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        background-color: darken($alert-background-color, 20);
      }

      &:active {
        background-color: lighten($color: $alert-background-color, $amount: 30);
        color: $primary-button-text-color;
      }
    }
  }
}

.project__content {
  height: calc(100% - 2rem);
}
