@import '../../styles/colors.scss';

.repository {
  display: flex;
}

.repository__panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 2rem;
  height: 100%;
  background-color: $primary-theme-color;
}

.repository__panel__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 0.4rem;
  box-sizing: border-box;
  padding: 0rem 0.2rem;
  border-bottom: 1px solid $primary-theme-color;
  background-color: darken($color: $primary-theme-color, $amount: 10);
  color: $primary-button-text-color;
  font-size: 1.4em;
  font-weight: bold;
}

.repository__panel__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: calc(100% - 1.4rem);

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0rem 0.2rem;
    width: 100%;
    height: 0.6rem;
    color: $primary-button-text-color;
    font-size: 1.2em;
    font-weight: bold;

    .iconfont {
      margin-right: 0.2rem;
      font-size: 1.3em;
    }

    &:hover {
      cursor: pointer;
      background-color: darken($color: $primary-theme-color, $amount: 30);
    }
  }

  .selected {
    background-color: $primary-button-text-color;
    color: $primary-theme-color;
  }
}

.repository__panel__sign-out {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1rem;

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: $secondary-theme-color;
    color: $primary-button-text-color;
    font-size: 1.2em;
    font-weight: bold;

    .iconfont {
      font-size: 1.3em;
    }

    &:hover {
      cursor: pointer;
      border: 3px solid $primary-theme-color;
    }

    &:active {
      border: 3px solid $primary-theme-color;
      background-color: lighten($color: $primary-theme-color, $amount: 30);
      color: $primary-button-text-color;
    }
  }
}

.repository__content {
  width: calc(100% - 2rem);
  height: 100%;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
