@import '../../styles/colors.scss';

.dashboard__common__panel__folders__list__item__name {
  input {
    flex: 1;
    border: none;
    background-color: transparent;
    text-decoration: underline;

    &:focus {
      outline: none;
    }
  }
}

.dashboard__common__panel__folders__list__item__operations {
  color: $secondary-theme-color;

  .iconfont {
    margin-left: 0.2rem;

    &:hover {
      cursor: pointer;
      color: darken($secondary-theme-color, 20);
    }

    &:active {
      color: lighten($color: $secondary-theme-color, $amount: 30);
    }
  }
}

.category__header {
  height: 0.8rem;
}

.category__content {
  height: calc(100% - 1rem);
}
