@import '../../../../styles/colors.scss';

.sidebar {
  z-index: 5;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6.8rem;
  height: 100%;
  background-color: $board-color;
  box-sizing: border-box;
  border-left: 2px solid $primary-theme-color;
  scrollbar-width: none;

  &__close {
    position: absolute;
    top: 0.1rem;
    right: 6.5rem;
    cursor: pointer;

    .iconfont {
      color: $secondary-theme-color;
      font-size: 1.3em;
    }

    &:hover {
      color: $alert-background-color;
    }
  }
}

.sidebar__variants {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.1rem;
  width: 100%;
  height: 0.2rem;

  &__title {
    display: block;
    height: 0.2rem;
    margin-top: 0.05rem;
    margin-right: 0.1rem;
    line-height: 0.2rem;
    text-align: center;
    color: $primary-theme-color;
    font-weight: bold;
  }

  .iconfont {
    margin-left: 0.05rem;
    margin-top: 0.05rem;
    color: $secondary-theme-color;
    font-size: 1.2em;
    cursor: pointer;
  }
}

.sidebar__save-info {
  padding-top: 0.1rem;
  color: $alert-background-color;
}

// Side bar popover for adding variant
.popover__variant {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 0.2rem;
  width: 4.5rem;
  height: 1.5rem;
  border-radius: 0.1rem;
  border: 1px dashed $primary-theme-color;
  background-color: $primary-button-text-color;

  .iconfont {
    position: absolute;
    bottom: 0.05rem;
    right: 0.05rem;
    margin-left: 0.05rem;
    margin-top: 0.05rem;
    color: $secondary-theme-color;
    font-size: 1.2em;
    cursor: pointer;
  }

  button {
    width: 1.8rem;
    background-color: $secondary-theme-color;
    color: $primary-button-text-color;
  }

  &__line {
    width: 0.01rem;
    height: 1.5rem;
    background-color: $primary-theme-color;
  }

  &__atomic {
    padding-bottom: 0.6rem;
  }

  &__composite {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.6rem;

    select {
      margin-bottom: 0.2rem;
    }
  }
}

@mixin select-style($color, $background, $border-color) {
  color: $color;
  background-color: $background;
  border: 1px solid $border-color;
  // Other styles you want to include in the mixin
}

.select-bar {
  position: absolute;
  width: 100%;
  select {
    @include select-style(
      $primary-background-color,
      $secondary-theme-color,
      $primary-theme-color
    );
  }
}
