@import '../../../../styles/colors.scss';

.sidebar {
  z-index: 5;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6.8rem;
  height: 100%;
  background-color: $board-color;
  box-sizing: border-box;
  border-left: 2px solid $primary-theme-color;
}

.sidebar__variants {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.1rem;
  width: 100%;
  height: 0.2rem;

  .iconfont {
    margin-left: 0.05rem;
    margin-top: 0.05rem;
    color: $secondary-theme-color;
    font-size: 1.2em;
    cursor: pointer;
  }
}

@mixin select-style($color, $background, $border-color) {
  color: $color;
  background-color: $background;
  border: 1px solid $border-color;
  // Other styles you want to include in the mixin
}
.close-button {
  position: absolute;
  top: 0.1rem;
  right: 6.5rem;
  cursor: pointer;
  color: $secondary-theme-color;

  &:hover {
    color: $alert-background-color;
  }
}

.select-bar {
  position: absolute;
  width: 100%;
  select {
    @include select-style(
      $primary-background-color,
      $secondary-theme-color,
      $primary-theme-color
    );
  }
}
