<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated workflow -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.extremexp.emf.model.workflow.presentation.WorkflowModelWizardID"
            name="%_UI_WorkflowModelWizard_label"
            class="com.extremexp.emf.model.workflow.presentation.WorkflowModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WorkflowModelFile.gif">
         <description>%_UI_WorkflowModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated workflow -->
      <editor
            id="com.extremexp.emf.model.workflow.presentation.WorkflowEditorID"
            name="%_UI_WorkflowEditor_label"
            icon="icons/full/obj16/WorkflowModelFile.gif"
            extensions="workflow"
            class="com.extremexp.emf.model.workflow.presentation.WorkflowEditor"
            contributorClass="com.extremexp.emf.model.workflow.presentation.WorkflowActionBarContributor">
      </editor>
   </extension>

</plugin>
