@import '../../../../../styles/colors.scss';

@mixin select-style($color, $background, $border-color) {
  color: $color;
  background-color: $background;
  border: 1px solid $border-color;
  // Other styles you want to include in the mixin
}

.variant__dropdown {
  // position: absolute;
  // top: 0.1rem;
  min-width: 1rem;
  height: 0.15rem;
  select {
    @include select-style(
      $primary-background-color,
      $secondary-theme-color,
      $primary-theme-color
    );
  }
}

.normal__dropdown {
  select {
    @include select-style(
      $primary-text-color,
      $primary-lighten-color,
      $primary-theme-color
    );
  }
}
